.showcaser-trap-scroll {
    overflow: hidden;
}

.showcaser-container {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9999999;
}

.showcaser-container .showcaser-delay {
    transition-property: opacity;
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
    transition-delay: 1.5s;
}

.showcaser {
    position: absolute;
    border: solid 1px #fff;
}

.showcaser.full-screen {
    width: 0;
    height: 0;
    left: 50%;
    top: 50%;
    border: none;
}

.showcaser-text-container {
    position: absolute;
    width: 32em;
    max-width: 75vw;
}

.showcaser-text-container.right {
    left: 100%;
    padding-left: 2em;
}

.showcaser-text-container.center {
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.showcaser-text-container.left {
    text-align: right;
    right: 100%;
    padding-right: 2em;
}

.showcaser-text-container.bottom {
    top: 100%;
    padding-top: 2em;
}

.showcaser-text-container.top {
    top: 0;
    transform: translateY(-100%);
    padding-bottom: 1em;
}

.showcaser-text-container.middle {
    top: 50%;
    transform: translateY(-50%);
}

.showcaser-text-container.center.middle {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.showcaser-text-container.center.top {
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
}

.showcaser-text {
    color: white;
    font-size: 1.2em;
    letter-spacing: 0.05em;
}

.showcaser-button-container {
    position: relative;
    margin-top: 0.5em;
}

.showcaser-button {
    background: 0 0;
    border: none;
    border-radius: 2px;
    color: #fff;
    position: relative;
    height: 2.25em;
    line-height: 2.25em;
    margin: 0;
    min-width: 4em;
    padding: 0 1em;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0;
    overflow: hidden;
    will-change: box-shadow;
    transition: box-shadow .2s cubic-bezier(.4, 0, 1, 1), background-color .2s cubic-bezier(.4, 0, .2, 1), color .2s cubic-bezier(.4, 0, .2, 1);
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
}

.showcaser-button:hover {
    background-color: rgba(158, 158, 158, .2);
}

.showcaser-button:focus:not(:active) {
    background-color: rgba(0, 0, 0, .12);
}

.showcaser-button:active {
    background-color: rgba(158, 158, 158, .4);
}

.showcaser-skip {
    color: white;
    cursor: pointer;
    left: 100%;
    bottom: 0.3em;
    margin-left: 2em;
    white-space: nowrap;
    line-height: 1.5;
    display: inline;
    font-size: 0.9em;
    vertical-align: middle;
}

.showcaser-text-container.left .showcaser-skip {
    right: 100%;
    left: initial;
}