.showcaser-trap-scroll {
    overflow: hidden;
}

.showcaser-container {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9999999;
}

.showcaser-container .showcaser-delay {
    transition-property: opacity;
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
    transition-delay: 1.5s;
}

.showcaser {
    position: absolute;
    border: solid 1px #fff;
    box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.65), inset 0 2px 16px rgba(0,0,0,.3);
}

    .showcaser.full-screen {
        width: 0;
        height: 0;
        left: 50%;
        top: 50%;
        border: none;
    }

.showcaser-text-container {
    position: absolute;
    width: 32em;
    max-width: 75vw;
}

    .showcaser-text-container.right {
        left: 100%;
        padding-left: 2em;
    }

    .showcaser-text-container.center {
        left: 50%;
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .showcaser-text-container.left {
        text-align: right;
        right: 100%;
        padding-right: 1em;
    }

    .showcaser-text-container.bottom {
        top: 100%;
        padding-top: 1em;
    }

    .showcaser-text-container.top {
        top: 0;
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        padding-bottom: 1em;
    }

    .showcaser-text-container.middle {
        top: 50%;
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .showcaser-text-container.center.middle {
        top: 50%;
        left: 50%;
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .showcaser-text-container.center.top {
        top: 0;
        left: 50%;
        -moz-transform: translate(-50%, -100%);
        -ms-transform: translate(-50%, -100%);
        -o-transform: translate(-50%, -100%);
        -webkit-transform: translate(-50%, -100%);
        transform: translate(-50%, -100%);
    }

.showcaser-text {
    color: white;
    font-size: 1.3em;
    font-weight: normal;
    letter-spacing: 0.05em;
}

.showcaser-button-container {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-top: 0.5em;
    text-align: right;
}

    .showcaser-button-container .showcaser-button {
        cursor: pointer;
        margin-top: 1em !important;
        width: auto !important;
        padding: 10px 10px;
        border-radius: 5px;
        background-color: rgba(240,240,240,1);
        line-height: 1;
        letter-spacing: 0.05em;
        font-size: 1rem;
        transition: background-color 0.3s, color 0.3s;
    }

        .showcaser-button-container .showcaser-button:hover {
            background-color: #197DC8;
            color: white;
            transition: background-color 0.3s, color 0.3s;
    }

    .showcaser-button-container .showcaser-skip {
        color: white;
        cursor: pointer;
        /*position: absolute;*/
        left: 100%;
        bottom: 0.3em;
        margin-left: 1em;
        white-space: nowrap;
        text-decoration: underline;
        line-height: 1.5;
        display: inline;
        font-size: 1rem;
    }
        .showcaser-button-container .showcaser-skip:hover {
            text-decoration: none;
        }

.showcaser-text-container.left .showcaser-skip {
    right: 100%;
    left: initial;
    margin-right: 1em;
}
